body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  text-align: center;
}
.not-found {
  width: 560px;
  height: 225px;
}
.starry-sky {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}



.notfound-copy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

.big.button {
  float: right;
  border: 1px solid #f0f0f0;
  font-size: 2em;
  color: #f0f0f0;
  margin-top: 50px;
  padding: 15px 30px;
  text-decoration: none;
}
.big.button:hover {
  background: #f0f0f0;
  color: #000;
}

/* change to alternating star opacities */
.all-stars {
  animation: blinkblink 7s linear infinite;
}

@keyframes blinkblink {
  50% {
    opacity: 0.1;
  }
}
